{% extends "base.html" %}

{% block content %}


<style>
    .photo_align {
    height: 310px;

}

.rightalign {

      float: right;
      border: 5px solid #555;
  }


p {
    text-align: left;
    justify: left;
    width: 100%;



}

.align {
    text-align: center;

}


.body{
    max-width: 800px;
    height: 100%;
    margin: auto;
    padding: 20px;
    font-family: Tahoma, Verdana, sans-serif;


}

</style>


<div class="body">
    <div class = 'rightalign'> <img src="/static/IMG92.jpeg" class="photo_align" ></div>

    <h1>BIOGRAPHY</h1><br>
    <p >Jim Lange knows about challenging situations because he and his family have lived them. He understands how to overcome
        struggles because he has done it.  He knows what can happen when good people unite behind a cause and knows what Americans
        can accomplish when they work together.
        Jim is the only child of a Native American waitress and a German American police officer whose marriage lasted a short 3 1/2 years.
        Five nomadic and turbulent years would follow before his stepfather, who Jim credits with saving his life, and a baby sister would enter the picture.
        We are all a sum of our life experiences, and the pain and damage caused by adult decisions, especially on children, would shape Jim's worldview and his
        future charitable endeavors.
        Jim graduated at 17 and moved to Florida to live with his biological father and attend college.  Unfortunately, Jim's father was diagnosed with cancer that ultimately
        took his life four years later at the age of 50.  By that time, Jim's dream of college had been replaced with the goal of earning a paycheck.  In the years that followed,
        Jim would have a succession of increasingly responsible jobs before starting his own business consulting company in 1996. For 20 years, he has helped turnaround businesses, big and small.
        With a strong desire to assist the less fortunate, Jim and his wife of 24 years, Alex, have been involved with numerous charities.  Harkening back to his childhood when he read to the
        elderly and mentored mentally disabled and institutionalized children, their community service activities have included Special Olympics, painting the homes of the elderly and disabled
        and mentoring children through Big Brothers and Big Sisters where they met their Little Brother, Kiel.  Matched at the age of 13, Kiel, now 33, is considered a part of the family.
        Less than a week after Haiti’s 2010 cataclysmic earthquake, 60 Minutes ran a story that changed the course of Jim's life.  Witnessing countless Haitians being unceremoniously placed into mass graves,
        he founded and self-funded a company to provide dignity for the dead and hope and opportunity for the living.  Working on a project to establish a Haitian National Memorial and Peace Park to honor the
        dead, and his efforts to work with the Haitian establishment, the country's vulnerable citizens and various institutions, Jim has achieved historic results by using his private sector experience and alliance-building skills.
        Now, Jim wants to use his problem-solving skills to get Congress working again so that American families can overcome challenges like the ones Jim's family did.  He understands that the key to strengthening our country is to unite around our greatest challenges and to work together.</p><br>


</div>
{% endblock content %}